# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push]

jobs:
  build:
    name: "Build Mod"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v5

      - name: "Setup JDK 17"
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: "on-failure"

      - name: "Build"
        run: ./gradlew build

      - name: "Capture Build Artifacts"
        uses: actions/upload-artifact@v5
        with:
          name: Artifacts
          path: build/libs/*.jar
          if-no-files-found: error
